@model JobViewModel
@using Attendance.Extenstions;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Jobs" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobModel.Name" class="control-label"></label>
                <input asp-for="JobModel.Name" class="form-control" />
                <span asp-validation-for="JobModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobModel.MinSalary" class="control-label"></label>
                <input asp-for="JobModel.MinSalary" class="form-control" />
                <span asp-validation-for="JobModel.MinSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobModel.MaxSalary" class="control-label"></label>
                <input asp-for="JobModel.MaxSalary" class="form-control" />
                <span asp-validation-for="JobModel.MaxSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobModel.Discounts" class="control-label"></label>
                <select asp-for="DiscountsIds" class="form-control" asp-items="Model.Discounts.ToSelectList(x => new SelectListItem { Text = x.Type, Value = x.Id.ToString() })"></select>
                <span asp-validation-for="DiscountsIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobModel.StartTime" class="control-label"></label>
                <input asp-for="JobModel.StartTime" class="form-control" />
                <span asp-validation-for="JobModel.StartTime" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

